body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #BFD7F7;
    color: black;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #1F387A;
}

section {
    margin-bottom: 30px;
}

h2 {
    text-align: center;
    color:#2D4CA3;
}

form#entry-form {
    max-width: 400px;
    margin: 0 auto;
}

form#entry-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}



form#entry-form input {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid black;
}

form#entry-form button {
    display: block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #8CACEF;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid black;

}

table#entries-table {
    max-width: 600px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
    overflow: hidden;
    border: 1 px solid black;
}

table#entries-table th, table#entries-table td {
    border: 1px solid black;
    padding: 5px;
}

table#entries-table button {
    padding: 5px 10px;
    background-color: #8CACEF;
    color: royalblue;
    border: 1px solid royalblue;
    border-radius: 4px;
    font-size: 0.9em;
    transition: background-color 0.3s;
}

table#entries-table th:first-child {
    border-top-left-radius: 8px;
}

table#entries-table th:last-child {
    border-top-right-radius: 8px;
}

table#entries-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

table#entries-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

#grade-scale {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

#grade-scale ul {
    list-style-type: none;
    padding: 0;
}

#result {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

table#entries-table button[edit] {
    background-color: #8CACEF;
    color: #2D4CA3;
    margin-right: 30px;
    border-radius: 20px;
    padding: 5px 10px;
    border: 1px solid #2D4CA3;
    cursor: pointer;
    transition: background-color 0.3s;
}

table#entries-table button[edit]:hover {
    background-color: #6A8DE6;
}

input[type=text] {
    background-color: #A6C2F3;
}

#what-if-calculator {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #6A8DE6;
    border-radius: 8px;
    border: 2px solid #2D4CA3;
}

#what-if-calculator label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color:#1F387A;
}

